{% extends 'core/base.html' %}

{% block body-content %}
<div class="container">
	<center>
	<p>Registration Form</p>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<label for="exampleInputEmail1">Name</label>
			<input type="text" class="form-control" name="name" 
			  id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" />
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" name="email" 
				aria-describedby="emailHelp" placeholder="Enter email" />
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Profile Photo</label>
			<input type="file" class="form-control" id="exampleInputEmail1" name="image" 
				aria-describedby="emailHelp" />
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" name="password" 
				id="exampleInputPassword1" placeholder="Password" />
		</div>
		
		<input type="submit" name="" value="submit" />
	</form>
	</center>
</div>
{% endblock body-content %}
